<html>

    <head>
        <script src="~/scripts/angular.min.js"></script>
        <script src="~/scripts/angular-resource.min.js"></script>
        <script src="~/scripts/angular-route.min.js"></script>
    </head>
    
    <body>
    
    </body>

</html>

