<html>

<head>
    <link href="~/css/angular-material.min.css" rel="stylesheet" />
  
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/angular-aria.min.js"></script>
    <script src="~/scripts/angular-animate.min.js"></script>
    <script src="~/scripts/angular-resource.min.js"></script>
    <script src="~/scripts/angular-route.min.js"></script>
    <script src="~/scripts/angular-ui-router.js"></script>
    <script src="~/bank-app.js"></script>
    <script src="~/components/deposits/deposit.js"></script>

    <script src="~/scripts/angular-material.min.js"></script>
  
</head>

<body>
    <div ng-app="bankApp">

        <div ng-controller="BankCtrl as bankScope">

            <md-content class="md-padding">
                <md-tabs md-selected="selectedIndex" md-border-bottom md-dynamic-height md-autoselect>
                    <md-tab label="Home" md-on-select="bankScope.onTabChange(1)" >
                        
                    </md-tab>

                    <md-tab label="Deposit" md-on-select="bankScope.onTabChange(2)">
                       
                    </md-tab>

                    <md-tab label="Loan" md-on-select="bankScope.onTabChange(3)">
                      
                    </md-tab>

                    <md-tab label="Report" md-on-select="bankScope.onTabChange(4)">
                       
                    </md-tab>
                   
                </md-tabs>

            </md-content>

            <div ui-view="Content">

            </div>

        </div>

    </div>
</body>

</html>
